<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="registro-emocional">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Registro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meditaciones">
      <ion-icon name="meditation"></ion-icon>
      <ion-label>Meditación</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="foro">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Foro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracion">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Config</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

