ion-content {
  --background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.container {
  width: 360px;
  margin-top: 10%;
  background: white;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}
// Android
@media (max-width: 767px) {
  .container {
    width: 90%;
    margin-top: 50%;
  }
}

.title {
  text-align: center;
  font-size: 26px;
  font-weight: 800;
  color: #1c43d6;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #444;
  margin-bottom: 25px;
}

/* FORMULARIO */
.label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  margin-bottom: 18px;
  font-size: 14px;
}

/* BOTÓN PRINCIPAL */
.btn-primary {
  width: 100%;
  padding: 14px;
  background: linear-gradient(45deg, #1a1054, #255ff1);
  color: white;
  border: none;
  border-radius: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 15px;
}

/* BOTÓN OUTLINE */
.btn-outline {
  width: 100%;
  padding: 14px;
  border: 2px solid #1c43d6;
  color: #1c43d6;
  background: white;
  border-radius: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 15px;
}

/* Texto “o” */
.or {
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

/* Botón gris */
.btn-gray {
  width: 100%;
  padding: 14px;
  background: #ededed;
  border-radius: 14px;
  font-weight: bold;
  font-size: 15px;
  color: #333;
}
