<header class="header">
  <h1 class="ion-text-center">Medellín Tranquila</h1>
  <h5 class="ion-text-center">¡Tú importas!</h5>
</header>
<ion-content>
  
  <div class="container">

    <h1 class="title">Crear Cuenta</h1>

    <div class="form">

      <label class="label">Correo Electrónico</label>
      <input class="input" type="email" placeholder="hola@usuario.co">

      <label class="label">Clave</label>
      <input class="input" type="password" placeholder="••••••">

      <!-- 🔥 Crear nueva cuenta -->
      <button class="btn-primary" (click)="goTologin ()">
        Crear Cuenta
      </button>

      <!-- 🔥 Función correcta-->
      <button class="btn-outline" (click)="goTologin()">
        Iniciar Sesión
      </button>

    </div>

  </div>
</ion-content>
