<ion-header [translucent]="true">
  <ion-toolbar class="bg-primary">
    <ion-title class="text-white fw-normal">Estado Emocional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="p-3">
  <!-- Saludo -->

  <div
    class="welcome-text mb-4  p-5 rounded-3"
    style="background: linear-gradient(90deg, #0038b8, #4c8cff)"
  >
    <p class="text-light">Hola, Usuario</p>
  </div>

  <div class="container">
    <!-- Estado emocional -->
    <div class="container">
      <div class="row">
        <div class="col-12 rounded-3 p-4 mb-4 border border-dark">
          <div class="section-title mb-3">Estado emocional 😀</div>

          <!-- Botón para registrar estado -->
          <button
            class="btn btn-primary w-100 py-3 mb-4 register-button"
            (click)="registerEmotionalState()"
          >
            Registrar estado de hoy 
          </button>
        </div>
      </div>
    </div>
    <!-- Estadísticas -->
    <div class="rounded-3 p-4 mb-4 container">
      <div class="row gx-3">
        <!-- gx-3 = 16px de espacio horizontal -->
        <div class="col bg-light rounded-2 p-3">
          <!-- col automático -->
          <div class="text-center stat-item">
            <div class="stat-number text-primary fw-bold">
              {{ daysRegistered }}
            </div>
            <div class="stat-label text-muted">Días registrados</div>
          </div>
        </div>
        <div class="col bg-light rounded-2 p-3">
          <!-- col automático -->
          <div class="text-center stat-item">
            <div class="stat-number text-primary fw-bold">
              {{ positiveState }}%
            </div>
            <div class="stat-label text-muted">Estado positivo</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Acceso rápido -->
    <div class="container">
      <div class="row">
        <div class="col-12 rounded-3 p-4 mb-4 border border-dark">
          <div class="section-title mb-3">Acceso Rápido</div>

          <div class="row g-3 py-3">
            <div class="col-6 py-3">
              <div class="text-center border" (click)="goToMeditation()">
                <button
                  class="btn btn-primary w-100 py-3 register-button"
                  style="background: linear-gradient(90deg, #0038b8, #4c8cff)"
                >
                  Meditación
                </button>
              </div>
            </div>
            <div class="col-6 py-3">
              <div class="text-center border" (click)="goToHelp()">
                <button
                  class="btn btn-primary w-100 py-3 register-button"
                  style="background: linear-gradient(90deg, #0038b8, #4c8cff)"
                >
                  Ayuda
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
