.container {
  height: 60vh;
  background: white;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: auto;
}
.header {
  text-align: center;
  background: linear-gradient(45deg, #1a1054, #255ff1);
  font-size: 18px;
  margin-bottom: 20px;
  padding: 20px;
  color: white;
}
.btn-Comentario {
  background: linear-gradient(45deg, #1a1054, #255ff1);
  border-radius: 18px;
  padding: 20px 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  transition: 0.2s ease-in-out;
}

.comment {
  width: 90%;
  background: rgb(235, 235, 235);
  border-radius: 12px;
  padding: 10px;
  margin-left: 5%;
  margin-bottom: 15px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.512);
}

.btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 0 15px 20px;
}
// Android
@media (max-width: 767px) {
  .container {
    width: 90%;
    margin-top: 10%;
    width: 360px;
    background: white;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
  .header {
    padding: 15px;
    font-size: 14px;
    margin-top: 8%;
  }
}
